@import '..//../../styles/vars';

.item {
  max-width: 370px;
  border: 1px solid #ececec;
  transition: all 0.3s;
  &:hover {
    box-shadow: 20px 0px 30px rgba(202, 202, 202, 0.35);
    border: none;
  }
}

.text {
  text-align: center;
  max-width: 570px;
  margin: 0 auto 55px;
}

.itemLinkImg {
  display: block;
  img {
    object-fit: cover;
  }
}
.itemBox {
  padding: 30px 31px;
}
.itemInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.itemAuter,
.itemData {
  display: block;
  display: flex;
  align-items: center;
  a {
    margin-left: 9px;
  }
}
.itemTitle {
  font-size: 22px;
  line-height: 32px;
  color: $title;
  @extend%roboto-400;
  margin-bottom: 10px;
  max-width: 290px;
}
.itemLink:hover {
  color: $accent;
  transition: all 0.3s;
  path {
    fill: $accent;
    transition: all 0.3s;
  }
}

.largeItem {
  max-width: 100%;
  border: none;
  transition: none;
}

.largeItemLinkImg {
  width: 770px;
  height: 450px;
}

.largeitemTitle{
  max-width: 100%;
  text-align: start;
}

.largeText{
  text-align: start;
  margin: 0;
  max-width: 100%;
}
