@import '../../../styles/vars';

.inner {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  display: none;
}
.list {
  display: flex;
}

.menuListItem + .menuListItem {
  padding-left: 35px;
}
.listLink {
  padding-bottom: 0 2px 1px;
  font-size: 16px;
  color: $title;
  padding-bottom: 1px;
  transition: 0.3s;
  @extend %roboto-400;
  &:hover {
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %roboto-700;
  }
}
.active {
  color: $accent;
  border-bottom: 1px solid $accent;
  @extend %roboto-700;
}

.userNav {
  display: flex;
}

.userNavLink + .userNavLink {
  padding-left: 25px;
  position: relative;
}

.num {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $accent;
  top: -9px;
  right: -14px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}

