@import '../../../styles/vars';
.news {
  background-image: url('../../../public/images/decor/news.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px 0 160px;
}

.items {
  display: flex;
  justify-content: space-between;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right: -25px;
    top: -30px;
    z-index: -1;
    background-image: url('../../../public/images/decor/news2.png');
    width: 118px;
    height: 48px;
  }
}

.item {
  max-width: 370px;
  border: 1px solid #ececec;
  transition: all 0.3s;
  &:hover {
    box-shadow: 20px 0px 30px rgba(202, 202, 202, 0.35);
    border: none;
  }
}
.text{
    text-align: center;
    max-width: 570px;
    margin: 0 auto 55px;
}


.itemLinkImg {
  display: block;
  img {
    width: 370px;
    height: 288px;
    object-fit: cover;
  }
}
.itemBox {
  padding: 30px 40px;
}
.itemInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.itemAuter,
.itemData {
  display: block;
  display: flex;
  align-items: center;
  a {
    margin-left: 9px;
  }
}
.itemTitle {
  font-size: 22px;
  line-height: 32px;
  color: $title;
  @extend%roboto-400;
  margin-bottom: 20px;
  max-width: 290px;
}
.itemLink:hover {
  color: $accent;
  transition: all 0.3s;
  path {
    fill: $accent;
    transition: all 0.3s;
  }
}
